.candidates {
  .candidate-explorer {
    @include display-flex;
    @include flex-direction(row);
    height: 100%;
    width: 100%;
  }

  .candidate-select {
    @include flex(initial);
    @include display-flex;
    @include flex-direction(column);
    border-left: $border;
    width: 300px;
    height: 100%;

    .filter {
      @include flex(initial);
      position: relative;
      border-bottom: $border;
      padding: 7px 0;

      input {
        width: 100%;
        padding: 5px 5px 5px 45px;
        font-weight: 300;
        border: 0;
      }

      &:before {
        content: "\f4a5";
        font-size: 1.15em;
        font-family: "Ionicons";
        position: absolute;
        top: 12px;
        left: 18px;
        color: #ddd;
      }

      .sort {
        font-size: 16px;
        position: absolute;
        top: 12px;
        right: 5px;
        padding: 2px 12px;
        background: $cl-red;
        border: 0;
        color: $cl-highlight-background-font;
      }
    }

    .search-results {
      @include flex(1);
      padding: 5px 0 15px 20px;
      overflow: auto;

      .candidate-item {
        margin-top: 10px;
        padding: 15px 10px 15px 20px;
        border-radius: 5px;
        border: $border;
        border-color: transparent;

        .status {
          margin-bottom: 10px;
          font-size: 16px;
          color: $cl-lightest-font;
          &:before {
            content: " ";
            height: 8px;
            width: 8px;
            border-radius: 4px;
            position: relative;
            display: block;
            margin-top: 2px;
            margin-right: 10px;
            float: left;
            background: $cl-grey;
          }
        }

        .name {
          @include formal-font;
          font-size: 1em;
        }

        .position {
          font-size: 18px;
          margin-top: 3px;
        }

        &.selected, {
          border-color: $cl-border;
        }

        &:not(.selected):hover + &.selected {
          border: 0;
        }

        &:not(.selected):hover {
          border-color: $cl-border;
          cursor: pointer;
        }
      }
    }
  }

  .candidate-view {
    @include display-flex;
    @include flex-direction(row);
    @include flex(1);
    overflow: scroll;
    height: 100%;
    padding: 0 40px 0 25px;

    .candidate-info {
      height: 100%;
      padding-right: 50px;
      @include display-flex;
      @include flex-direction(column);
      @include flex(1);

      .tab {
        @include flex(1);
      }
    }

    .general-info {
    	@include display-flex;
    	@include flex-direction(row);
      @include flex(initial);
      padding: 40px 0;

      .display-image {
        flex: initial;
        width: 70px;
        height: 70px;
        margin-top: 3px;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
      }

      .info {
        flex: 1;
        padding: 0 20px;

        .name h1 {
          font-size: 32px;
          margin: 10px 0 0;
          font-weight: 600;
        }

        .position {
          font-size: 20px;
        }
      }
    }

    .tab-container {
      @include flex(initial);
      width: 180px;
      padding-top: 40px;

      .tab-select {
        @include flex(initial);
        padding-bottom: 15px;

        ul {
          li {
            padding: 8px 10px 8px 0;
            margin-left: 3px;
            background-color: transparent;
            @include transition(background-color 300ms);
            position: relative;

            i {
              margin-right: 5px;
              width: 26px;
              text-align: center;
            }

            &.active i {
              color: $cl-accent;
            }

            &.active:before {
              content: "";
              font-family: Ionicons;
              color: $cl-accent;
              font-size: bold;
              position: absolute;
              left: -7px;
            }

            &:not(.active):hover {
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }

      .recruiter {
        margin-bottom: 30px;

        h3 {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 10px;
        }

        .display-image {
          width: 20px;
          height: 20px;
          border-radius: 3px;
          background-position: center;
          background-size: cover;
          margin: 0 10px 0 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .status {
        padding: 8px 15px;
        background: $cl-green;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 35px;
      }
    }

    .tab {
      h1 {
        font-weight: bold;
        color: $cl-light-font;
        font-size: 21px;
        margin-bottom: 10px;
      }

      &.overview {
        .status-timeline,
        .activity-timeline {
          margin-bottom: 40px;
        }
      }

    }
  }

}
