.candidates {
  .candidate-explorer {
    @include display-flex;
    @include flex-direction(row);
    height: 100%;
    width: 100%;
  }

  .candidate-select {
    @include flex(initial);
    @include display-flex;
    @include flex-direction(column);
    border-left: $border;
    width: 300px;
    height: 100%;

    .filter {
      @include flex(initial);
      position: relative;
      border-bottom: $border;
      padding: 7px 0;

      input {
        width: 100%;
        padding: 5px 5px 5px 45px;
        font-weight: 300;
        border: 0;
      }

      &:before {
        content: "\f4a5";
        font-size: 1.15em;
        font-family: "Ionicons";
        position: absolute;
        top: 12px;
        left: 18px;
        color: #ddd;
      }

      .sort {
        font-size: 16px;
        position: absolute;
        top: 12px;
        right: 5px;
        padding: 2px 12px;
        background: $cl-red;
        border: 0;
        color: $cl-highlight-background-font;
      }
    }

    .search-results {
      @include flex(1);
      padding: 5px 0 15px 20px;
      overflow: auto;

      .candidate-item {
        margin-top: 10px;
        padding: 15px 10px 15px 20px;
        .status {
          margin-bottom: 10px;
          font-size: 16px;
          color: $cl-lightest-font;
          &:before {
            content: " ";
            height: 8px;
            width: 8px;
            border-radius: 4px;
            position: relative;
            display: block;
            margin-top: 2px;
            margin-right: 10px;
            float: left;
            background: $cl-grey;
          }
        }

        .name {
          @include formal-font;
          font-size: 1em;
        }

        .position {
          font-size: 18px;
          margin-top: 3px;
        }

        &.selected {
          border: $border;
          border-radius: 5px;
        }
      }
    }
  }

  .candidate-view {
    @include display-flex;
    @include flex-direction(column);
    @include flex(1);
    height: 100%;

    padding: 0 40px 0 20px;

    .general-info {
    	@include display-flex;
    	@include flex-direction(row);
      padding: 40px 0;

      .display-image {
        flex: initial;
        width: 70px;
        height: 70px;
        margin-top: 3px;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
      }

      .info {
        flex: 1;
        padding: 0 20px;

        .name h1 {
          font-size: 36px;
          margin: 0;
          font-weight: 600;
        }
      }

      .recruiter {
        flex: initial;
        padding-top: 5px;
      }

      .status {
        > div {
          line-height: 24px;
        }

        .label {
          float: left;
          color: $cl-lighter-font;
        }
        .value {
          float: left;
          margin-left: 20px;
        }
      }
    }

    .tab-container {
      @include display-flex;
      @include flex-direction(column);
      @include flex(1);

      .tab-select {
        @include flex(initial);
        padding-bottom: 15px;
        border-bottom: $border;

        ul {
          li {
            float: left;
            padding: 8px 10px;
            margin-left: 3px;
            background-color: transparent;
            @include transition(background-color 300ms);
            color: $cl-lighter-font;

            &.active {
              color: $cl-accent;
              background-color: adjust-lightness($cl-accent, 20);
              border-radius: 5px;
              font-size: bold;
            }

            &:not(.active):hover {
              color: $cl-base-font;
              font-size: bold;
              cursor: pointer;
            }
          }
        }
        .action {
          padding: 8px 15px;
          float: right;
          background: $cl-green;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .tab {
        @include flex(1);
      }
    }
  }

}
